@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitionRight {
  from {
    transform: translateX(-20px);
  }

  to {
    transform: translateX(0);
  }
}
.transition-right {
  animation: transitionRight 0.5s ease-in-out;
}

@keyframes transitionLeft {
  from {
    transform: translateX(20px);
  }

  to {
    transform: translateX(0);
  }
}
.transition-left {
  animation: transitionLeft 0.5s ease-in-out;
}

@keyframes transitionUp {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}
.transition-up {
  animation: transitionUp 0.5s ease-in-out;
}

* {
  border: none;
  text-decoration: none;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  animation: fadeIn 0.5s ease-in-out;
  transition: none;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  color: #fff;
}

div {
  padding: 1rem 0;
}

section {
  padding: 1rem;
  margin: 3rem 2rem;
}

body {
  background-color: rgb(20, 20, 20);
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 16pt;
}

h4,
h5,
h6,
p,
span,
button {
  font-size: 12pt;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

button:hover {
  filter: brightness(0.9);
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 0.6);
}
