* {
  border: none;
  text-decoration: none;
  scroll-snap-type: mandatory;
  animation: fadeIn 0.5s ease-in-out;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  color: #fff;
}

body {
  background-color: rgb(20, 20, 20);
}

div {
  padding: 1rem 0;
}

section {
  padding: 1rem;
  margin: 3rem 2rem;
}

h1 {
  font-size: 22pt;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-size: 22pt;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 18pt;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

h4 {
  font-size: 14pt;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

h5,
h6,
p,
span,
button {
  font-size: 12pt;
  font-weight: 500;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

small {
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

button:hover {
  filter: brightness(0.9);
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 0.6);
}
